@*@model DACS.Models.Product*@
@*@model IEnumerable<DACS.Models.Product*@
@model DACS.Models.ProductDetailModel 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Site.css")
}
<div class="main">
    <div class="content">
        <div class="content_top">
            @*<div class="back-links">
                <p><a href="index.html">Home</a>
            </div>*@
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="cont-desc span_1_of_2">
                <!--Các model được đổi thành item-->
               
                    <div class="product-details">
                        <img src="~/Content/images/@Model.objProduct.ImageProduct" />
                        <div class="desc span_3_of_2">
                            <h2>@Model.objProduct.NameProduct </h2>
                            <p>@Model.objProduct.DescriptionProduct</p> <!--Chỉ cần thêm objProduct vào và điều chỉnh lại cái thư viện-->
                            <div class="price">
                                <p>Giá: <span>@Model.objProduct.Price VNĐ</span></p>
                            </div>

                            <div class="manufacturedate">
                                <p>Ngày sản xuất: <span>@Model.objProduct.manufacturedate  </span></p>
                            </div>

                            <div class="expiry">
                                <p>Hạn sử dụng: <span>@Model.objProduct.expiry</span></p>
                            </div>
                            <div class="available">
                            </div>
                            <div class="share-desc">
                                <div class="share">
                                    <p>Share Product :</p>
                                    <ul>
                                        <li><a href="#"><img src="~/Content/images/facebook.png" alt="" /></a></li>
                                        <li><a href="#"><img src="~/Content/images/twitter.png" alt="" /></a></li>
                                    </ul>
                                </div>
                                @using (Html.BeginForm("AddToCart", "ShoppingCart", new { id = Model }))
                                {
                                    <div class="button"><span><a href="@Url.Action("AddToCart","ShoppingCart", new {Id = Model.objProduct.IdProduct})">Thêm vào giỏ hàng</a></span></div>
                                }

                                <div class="clear"></div>
                            </div>
                            <div class="wish-list">
                                <ul>
                                    <li class="wish"><a href="#">Add to Wishlist</a></li>
                                    <li class="compare"><a href="#">Add to Compare</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                



                <div class="product_desc">
                    <div id="horizontalTab">
                        <div class="clear"></div>
                        <div class="resp-tabs-container">
                            <div class="product-desc">
                                <p>Lorem Ipsum is simply dummy text of the <span>printing and typesetting industry</span>. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span>when an unknown printer took a galley of type and scrambled</span> it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<span> It has survived not only five centuries</span>, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>

                            <div class="product-tags">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <h4>Add Your Tags:</h4>
                                <div class="input-box">
                                    <input type="text" value="">
                                </div>
                                <div class="button"><span><a href="#">Add Tags</a></span></div>
                            </div>

                            <div class="review">
                                <h4>Lorem ipsum Review by <a href="#">Finibus Bonorum</a></h4>
                                <ul>
                                    <li>Price :<a href="#"><img src="~/Content/images/price-rating.png" alt="" /></a></li>
                                    <li>Value :<a href="#"><img src="~/Content/images/value-rating.png" alt="" /></a></li>
                                    <li>Quality :<a href="#"><img src="~/Content/images/quality-rating.png" alt="" /></a></li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <div class="your-review">
                                    <h3>How Do You Rate This Product?</h3>
                                    <p>Write Your Own Review?</p>
                                    <form>
                                        <div>
                                            <span><label>Nickname<span class="red">*</span></label></span>
                                            <span><input type="text" value=""></span>
                                        </div>
                                        <div>
                                            <span><label>Summary of Your Review<span class="red">*</span></label></span>
                                            <span><input type="text" value=""></span>
                                        </div>
                                        <div>
                                            <span><label>Review<span class="red">*</span></label></span>
                                            <span><textarea> </textarea></span>
                                        </div>
                                        <div>
                                            <span><input type="submit" value="SUBMIT REVIEW"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#horizontalTab').easyResponsiveTabs({
                            type: 'default', //Types: default, vertical, accordion
                            width: 'auto', //auto or any width like 600px
                            fit: true   // 100% fit in a container
                        });
                    });</script>
                <div class="content_bottom">
                    <div class="heading">
                        <h3>Sản phẩm liên quan</h3>
                    </div>
                    <div class="see">
                        <p><a href="@Url.Action("Index1","Product")">Xem toàn bộ</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group">
                    @foreach (var item in Model.ListProduct)
                    {
                        <div class="grid_1_of_4 images_1_of_4">
                            <div>
                                <h2>@Model.objProduct.NameProduct</h2>
                            </div>
                            <a href="@Url.Action("Details","Product", new {id = item.IdProduct})"><img src="~/Content/images/@Model.objProduct.ImageProduct" alt=""></a>

                            @*<div class="price" style="border:none">
                        <div class="add-cart" style="float:none">
                            <h4><a href="#">Add to Cart</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>*@
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">@Model.objProduct.Price VNĐ</span></p>
                                </div>

                                <div class="add-cart">
                                    @*<h4><a href="preview.html">Add to Cart</a></h4>*@
                                    @using (Html.BeginForm("AddToCart", "ShoppingCart", new { id = item.IdProduct }))
                                    {
                                        <div class="button"><span><a href="@Url.Action("AddToCart","ShoppingCart", new {Id = item.IdProduct})">Thêm vào giỏ hàng</a></span></div>
                                    }
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="rightsidebar span_3_of_1">
                <h2>Danh mục</h2>
                <ul>
                    @*@foreach (var item in Model.ListCategory)
                        {
                            <li>@Html.ActionLink(@Model.objProductNameCategory, "GetProductByCategory", "Category", new { @Id = item.IdCategory },null)</li>
                        }*@
                    @Html.Action("GetCategory", "Product");
                </ul>
                <ul class="side-w3ls">
                </ul>
                <div class="subscribe">
                    <h2>Newsletters Signup</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.......</p>
                    <div class="signup">
                        <form>
                            <input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';"><input type="submit" value="Sign up">
                        </form>
                    </div>
                </div>
                <div class="community-poll">
                    <h2>Community POll</h2>
                    <p>What is the main reason for you to purchase products online?</p>
                    <div class="poll">
                        <form>
                            <ul>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="1">
                                    <span class="label"><label>More convenient shipping and delivery </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="2">
                                    <span class="label"><label for="vote_2">Lower price</label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="3">
                                    <span class="label"><label for="vote_3">Bigger choice</label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="5">
                                    <span class="label"><label for="vote_5">Payments security </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="6">
                                    <span class="label"><label for="vote_6">30-day Money Back Guarantee </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="7">
                                    <span class="label"><label for="vote_7">Other.</label></span>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>